/build/
/dist/
*.save

*.mf

nbproject/

src/model/KlondikeCardStack\.java

src/model/CardStack\.java

src/swingtest/cards/

src/swingtest/back\.gif

README\.md

*.class

*.gif

*.properties

*.jpg

dest-client/ija-client\.jar

test/build\.xml
