/build/
/dist/
*.save

*.xml

*.mf

nbproject/

*.txt

src/model/KlondikeCardStack\.java

src/model/CardStack\.java

src/swingtest/cards/

src/swingtest/back\.gif

README\.md

*.class

*.gif
